<html>
  <head>
    <title></title>
    <meta charset="UTF-8" />
	  <link href="../styles/vendors/filepond.min.css" rel="stylesheet">
		<link href="../styles/toolbar-popup.css" rel="stylesheet">
  </head>
  <body>

    <div class="toolbar-popup">
	    <input type="file">
      <a target="_blank" class="link" href="">Download file</a>
    </div>

    <script src="../scripts/vendors/filepond.min.js"></script>
    <script src="../scripts/toolbar-popup.js"></script>
  </body>
</html>