<html>
  <head>
    <title></title>
    <meta charset="UTF-8" />
	  <link href="../styles/vendors/filepond.min.css" rel="stylesheet">
		<link href="../styles/toolbar-popup.css" rel="stylesheet">
  </head>
  <body>

    <div class="toolbar-popup">
	    <input type="file">
      <span class="link-wrap">
		    <span class="pre-link">File link: </span>
        <a target="_blank" class="link"></a>
		    <span class="warning">Note that file will be removed after first downloading</span>
      </span>
    </div>

    <script src="../scripts/vendors/filepond.min.js"></script>
    <script src="../scripts/toolbar-popup.js"></script>
  </body>
</html>