html,
body {
  margin: 0;
  padding: 0;
  width: 350px;
  height: 186px;
  background: #fff;
}

.toolbar-popup {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.link-wrap {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  display: block;
  top: 121px;
  width: 310px;
  box-sizing: border-box;
}

.link-wrap.active .pre-link {
  color: #565656;
}

.pre-link {
  color: #b7b7b7;
}

.link {
  color: #4696e5;
  font-weight: bold;
}

.warning {
  display: block;
  color: #b7b7b7;
  padding-top: 15px;
  white-space: normal;
}

.filepond--root {
  height: 15px;
}
